* {
    padding: 0;
    margin: 0;
    background-color: black;
    color: lime;
    font-family: monospace;
    font-size: 24px;
}

table {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

table, tr, td, th {
    border-collapse: collapse;
    border: 1px solid lime;
    padding: 10px;
}

th {
    font-weight: bolder;
    font-style: italic;
}

li, td span, li span {
    font-size: 14px;
}

ul, li, table span, li span {
    background-color: inherit;
    list-style-position: inside;
}

#start-again-button {
    display: block;
    text-align: center;
    width: 400px;
    font-size: 48px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    border: 3px solid lime;
    cursor: hand;
    text-decoration: none;
}

.incorrect {
    background-color: #700000
}

#json-pane {
    width: 640px;
    margin: 50px auto;
}

#json-pane pre {
    max-width: 640px;
    font-size: 10px;
    margin-top: 20px;
}